@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#chat-container {
  width: 400px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#chat-header {
  background-color: #9147ff;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#channel-name {
  margin-right: 10px;
}

#chat-settings-button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

#chat-settings-button:hover {
  color: #ccc;
}

#chat-area {
    height: calc(100vh - 100px); /* 100px은 채팅 입력창과 전송 버튼의 높이입니다. */
    padding: -10px;
    overflow-y: scroll; /* 내용이 넘치면 스크롤바가 생기도록 설정합니다. */
}

.message {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.message .user {
  font-weight: bold;
  margin-right: 5px;
}

.message .timestamp {
  font-size: 12px;
  color: #ccc;
  margin-right: 45px;
}

.message .content {
  display: inline;
}

#chat-form {
  display: flex;
  margin-top: 10px;
}

#chat-input {
  flex: 1;
  font-size: 14px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: #f7f7f7;
}

#chat-form button {
  font-size: 14px;
  padding: 5px 10px;
  border: none;
  background-color: #9147ff;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

#chat-form button:hover {
  background-color: #7c2fcf;
}

/* 새로 추가한 스타일 */
#chat-count-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #9147ff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#chat-count-button:hover {
  background-color: #7c2fcf;
}

.bold-text {
  font-weight: bold;
  font-size: 20px;
  background-color: red;
  color: white;
  padding: 5px;
}